<div class="flex justify-between w-full items-center pt-4">
  <h2 class="text-4xl font-bold">Artists</h2>
  <a routerLink="/artists/new">
    <p-button label="Add artist" variant="outlined" icon="pi pi-plus" class="font-bold" />
  </a>
</div>

@if (artists().length > 0) {
<div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-4 py-4">
  @for (artist of artists(); track $index) {
  <app-artist-card [artist]="artist" />
  }
</div>
} @else {
<p-message severity="error" size="small" variant="simple">No artists found.</p-message>
}
