<div class="relative w-full h-24">
  <img
    [src]="concert()?.venue?.imageUrl"
    [alt]="concert()?.venue?.name"
    class="w-full h-full object-cover brightness-50"
  />
  <h2 class="absolute inset-y-8 inset-x-4 text-4xl font-bold">
    {{ concert()?.tour }}
  </h2>
  <h3 class="absolute inset-y-16 inset-x-4 text-2xl font-extralight">
    {{ concert()?.artist?.name }} at {{ concert()?.venue?.name }}
  </h3>
</div>

<p class="my-4">{{ concertDate() | date : 'longDate' }}</p>

@if (authService.isAuthenticated()) { @if (concert(); as concert) {
<app-concert-action-buttons [concert]="concert" />
}} @for (log of concert()?.concertLogs; track $index) {
<app-concert-log [concertLog]="log" />
} @empty {
<p-card>
  <div class="flex gap-2 flex-col items-center justify-center">
    <p>No one attended this concert yet.</p>
    @if (authService.isAuthenticated()) {
    <p class="font-bold text-primary">Add your review!</p>
    } @else {
    <a routerLink="/login" class="underline text-primary">Sign in to write a review</a>
    }
  </div>
</p-card>

}
